.font-primary {
  font-family: 'Fenix', serif;
}

.font-secondary {
  font-family: 'Explora', cursive;
}

.font-tertiary {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.size-xl {
  font-size: 8rem;
}

.size-lg {
  font-size: 5rem;
}

.size-md {
  font-size: 1.5625rem;
}

.size-sm {
  font-size: 1.25rem;
}

.size-customer {
  font-size: 3.5rem;
}

.caption {
  font-size: 5rem;
}

.intro-bg {
  background: linear-gradient(to bottom, #ffffff 34%,  #E2EDF2 0%);
  box-shadow: inset 0 -100px #ffffff;
}

.choose-bg {
  background: linear-gradient(to left, #ffffff 16%,  #E2EDF2 0%);
}

.experts-bg {
  margin-block: 200px 100px;
  background: linear-gradient(to right, #ffffff 16%,  #E2EDF2 0%);
  box-shadow: inset 0px 50px 0px #ffffff;
}

.benefits-bg {
  background-image: linear-gradient(to right, #ffffff 38%,  #E2EDF2 0%);
  background-size: 55%;
  background-repeat: no-repeat;
}

.customer-bg {
  margin-block: 150px 100px;
  background: linear-gradient(to left, #ffffff 16%,  #E2EDF2 0%);
}

.icon-bg {
  top: -5px;
}

.img-tp-experts {
  max-width: 520px;
  max-height: 690px;
  bottom: 30px;
  right: 150px;
  z-index: 0;
}

.img-bg-experts {
  padding-top: 80px;
  padding-inline: 200px 40px;
  margin-bottom: -50px;
}

.img-bg-customer {
  padding-top: 60px;
  padding-inline: 80px 40px;
  margin-bottom: -50px;
}

.img-tp-customer {
  max-width: 520px;
  max-height: 690px;
  left: 150px;
  bottom: 30px;
  right: 150px;
  z-index: 0;
}

.comment-bg {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 5px #b2a9a9;
  border-radius: 20px;
}

.justify {
  text-align: justify;
}

@media(max-width: 1400px) {
  .img-tp-experts {
    max-width: 450px;
    bottom: 100px;
    right: 150px;
  }

  .img-bg-experts {
    padding-top: 0px;
    padding-left: 100px;
    margin-bottom: 0px;
  }
}

@media(max-width: 1200px){
  .img-bg-experts, .img-bg-customer {
    padding: 20px;
    margin: 0;
  }

  .img-tp-experts, .img-tp-customer {
    display: none;
  }

  .experts-bg {
    margin-top: 100px;
    box-shadow: none;
  }
}

@media(max-width: 1000px) {
  .size-xl {
    font-size: 6rem;
  }

  .size-lg {
    font-size: 4rem;
  }

  .caption {
    font-size: 3.5rem;
  }

  .size-sm {
    font-size: 1.125rem;
  }

  .benefits-bg {
    background-image: linear-gradient(to right, #ffffff 16%,  #E2EDF2 0%);
    background-size: initial;
  }
}

@media(max-width: 767px) {
  .intro-bg {
    background: linear-gradient(to top, #ffffff 50%,  #E2EDF2 0%);
  }

  .choose-bg, .experts-bg, .benefits-bg, .customer-bg {
    background: #E2EDF2;
  }
}